
number-in-words/number-in-words.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
number-in-words/number-in-words.xcodeproj/project.xcworkspace/xcuserdata/tester.xcuserdatad/UserInterfaceState.xcuserstate
